// IMPORTAR LOS PARCIALES UNICAMENTE
@import 'variables';
@import 'detail-product';
@import 'shopping-cart';

body {
    margin: 0;
    background-color: $body-background-color;
}

.footer-class{
    position: relative;
    bottom: 0; 
    width: 100%;
    height: $footer-heigth;
    background-color: $footer-bg;

    a{
        color: white !important;
    }
}

/*header{
    nav{
        background-color: $header-bg;
    }

}*/

.shopping-cart{
    background-color: $shopping-cart-table-bg;
}

.nav-bg{
    background-color: $header-bg;
}



